In [1]:
import pandas as pd

# ChIP Atlas Genes targets of SOX9 (hg38)

The first data set is retrieved from ChIP Atlas. We went to "Target genes" function, in mouse genome hg38, searched in the +- 10k kb distance from the TSS of all genes to find gene targets of SOX9. 

Let's take a look at the dataset

In [2]:
sox9 = pd.read_csv("./input/SOX9.10.tsv", delimiter="\t")
print(f"There are {sox9.shape[0]} genes retrieved from ChIP-Atlas ")

There are 8342 genes retrieved from ChIP-Atlas

In [3]:
sox9[:10]

,Target_genes,SOX9|Average,SRX718108|hESC_derived_pancreatic_cells,SRX4065343|hESC_derived_retinal_cells,SRX4065344|hESC_derived_retinal_cells,SRX4065345|hESC_derived_retinal_cells,SRX4065346|hESC_derived_retinal_cells,SRX4065347|hESC_derived_retinal_cells,SRX4065348|hESC_derived_retinal_cells,SRX768290|HT-29,SRX359919|LoVo,SRX1510444|VCaP,STRING
0,ARRDC4,398.7,0,245,233,119,221,290,188,1965,0,726,0
1,DUX4,374.9,378,325,423,218,314,419,376,473,249,574,0
2,MTRNR2L2,348.0,821,0,0,165,192,0,0,742,1123,437,0
3,MSH3,348.0,821,0,0,165,192,0,0,742,1123,437,0
4,DOLPP1,342.2,0,128,132,133,192,202,193,1777,0,665,0
5,MTRNR2L8,335.8,761,0,0,0,107,0,0,592,1457,441,0
6,KIF5C,301.2,847,0,0,0,0,0,0,779,591,795,0
7,ZBTB32,295.9,0,117,119,123,135,148,206,1780,0,331,0
8,PTPRN2,291.4,502,222,286,249,187,308,312,0,521,327,0
9,SLC25A41,286.0,0,200,202,100,122,174,176,1495,0,391,0

We only wanted the first and second columns (which is the score).

In [4]:
sox9.rename(columns={"SOX9|Average":"Score"}, inplace=True)

In [5]:
sox9[:][["Target_genes","Score"]].to_csv("./input/sox9_targets.csv", header=True, index=False)
sox9_targets = pd.read_csv("./input/sox9_targets.csv")
sox9_targets[:10]

  Target_genes  Score
0       ARRDC4  398.7
1         DUX4  374.9
2     MTRNR2L2  348.0
3         MSH3  348.0
4       DOLPP1  342.2
5     MTRNR2L8  335.8
6        KIF5C  301.2
7       ZBTB32  295.9
8       PTPRN2  291.4
9     SLC25A41  286.0

Let's put the gene names in upper case for easier search down the way

In [6]:
sox9_targets[:]["Target_genes"] = sox9_targets[:]["Target_genes"].apply(lambda x:x.upper())
sox9_targets[:10]

  Target_genes  Score
0       ARRDC4  398.7
1         DUX4  374.9
2     MTRNR2L2  348.0
3         MSH3  348.0
4       DOLPP1  342.2
5     MTRNR2L8  335.8
6        KIF5C  301.2
7       ZBTB32  295.9
8       PTPRN2  291.4
9     SLC25A41  286.0

# HPA - Genes expressed in favorable and unfavorable ovarian cancer prognostics

Here, we want a list of genes that are expressed in human ovarian cancer from Human Protein Atlas data base (HPA). We do did by query the Human Protein Atlas database with "prognostic:Ovarian cancer;Unfavorable" or "prognostic:Ovarian cancer;Favorable".

This will give us 2 list of genes that are expressed in human ovarian cancer with evidence from IHC with favorable and unfavorable prognostics

#### Favorable prognostic

In [7]:
ovc_fav = pd.read_csv("./input/prognostic_Ovarian_favorable.tsv",delimiter="\t", usecols=[0,1,2,3])
print(f"There are {ovc_fav.shape[0]} genes expressed in favorable prognostic of ovarian caner")

There are 357 genes expressed in favorable prognostic of ovarian caner

Make sure to put all the gene names in upper case.Let's take a look at the data set

In [8]:
ovc_fav[:]["Gene"] = ovc_fav[:]["Gene"].apply(lambda x:x.upper())
ovc_fav[:10]

,Gene,Gene synonym,Ensembl,Gene description
0,AADAC,"CES5A1, DAC",ENSG00000114771,Arylacetamide deacetylase
1,ABT1,Esf2,ENSG00000146109,Activator of basal transcription 1
2,ACOT13,"HT012, THEM2",ENSG00000112304,Acyl-CoA thioesterase 13
3,ACSM3,"SA, SAH",ENSG00000005187,Acyl-CoA synthetase medium chain family member 3
4,ADA2,"ADGF, CECR1, IDGFL",ENSG00000093072,Adenosine deaminase 2
5,ADIPOR1,"ACDCR1, PAQR1",ENSG00000159346,Adiponectin receptor 1
6,ADRA1B,NaN,ENSG00000170214,Adrenoceptor alpha 1B
7,AKT1,"AKT, PKB, PRKBA, RAC",ENSG00000142208,AKT serine/threonine kinase 1
8,ALDH5A1,"SSADH, SSDH",ENSG00000112294,Aldehyde dehydrogenase 5 family member A1
9,ALG1L2,NaN,ENSG00000251287,"ALG1, chitobiosyldiphosphodolichol beta-mannos..."

#### Unfavorable prognostic

In [9]:
ovc_unfav = pd.read_csv("./input/prognostic_Ovarian_unfavorable.tsv",delimiter="\t", usecols=[0,1,2,3])
print(f"There are {ovc_unfav.shape[0]} genes expressed in unfavorable prognostic of ovarian caner")

There are 152 genes expressed in unfavorable prognostic of ovarian caner

Make sure to put all the gene names in upper case.Let's take a look at the data set

In [10]:
ovc_unfav[:]["Gene"] = ovc_unfav[:]["Gene"].apply(lambda x:x.upper())
ovc_unfav[:10]

,Gene,Gene synonym,Ensembl,Gene description
0,AAK1,"DKFZp686K16132, KIAA1048",ENSG00000115977,AP2 associated kinase 1
1,AGAP1,"CENTG2, GGAP1, KIAA1099",ENSG00000157985,"ArfGAP with GTPase domain, ankyrin repeat and ..."
2,AGFG1,"HRB, RAB, RIP",ENSG00000173744,ArfGAP with FG repeats 1
3,AHDC1,"DJ159A19.3, RP1-159A19.1",ENSG00000126705,AT-hook DNA binding motif containing 1
4,AL136454.1,NaN,ENSG00000231767,NaN
5,ALOX5AP,FLAP,ENSG00000132965,Arachidonate 5-lipoxygenase activating protein
6,ANKRD13A,"ANKRD13, NY-REN-25",ENSG00000076513,Ankyrin repeat domain 13A
7,ANXA4,ANX4,ENSG00000196975,Annexin A4
8,AP2A1,"ADTAA, CLAPA1",ENSG00000196961,Adaptor related protein complex 2 alpha 1 subunit
9,ARID1B,"6A3-5, BAF250b, DAN15, ELD/OSA1, KIAA1235, p250R",ENSG00000049618,AT-rich interaction domain 1B

Lucky for us, the data set from hpa also contain gene synonym. This will help us in the next step.

# Common genes

Our final goal is to find genes that are the targets of SOX9 that are expressed in ovarian cancer in either favorable or unfavorable prognostic. 

One gene can have different names. In order to make sure that we don't miss any common genes just because they are synonyms in datasets, we constructed a synonym reference, taking advantage of the gene synonym from HPA data set.

We also try to include in the score obtain from the Stat3 data to evaluate the likelihood of a Stat3 target

#### Constructing the HPA synonym reference

In [11]:
genes_hpa_fav = list(ovc_fav.Gene)
#original to synonyms reference
genes_synonyms_hpa = {}

#synonyms to original reference
synonyms_genes_hpa = {}

for gene,syns in zip(genes_hpa_fav,ovc_fav["Gene synonym"]):
    genes_synonyms_hpa[gene] = [syns]
    if type(syns) == float:
        continue
    else:
        for s in syns.split(", "):
            synonyms_genes_hpa[s.upper()] = gene

#### Favorable_OVC vs HPA

In [12]:
sox9_targets_list = list(sox9_targets.Target_genes)
sox9_scores_list = list(sox9_targets.Score)

In [13]:
sox9_ovc_fav = []
sox9_ovc_fav_score = {}
for g,s in zip(sox9_targets_list,sox9_scores_list):
    if g in genes_synonyms_hpa:
        sox9_ovc_fav.append(g)
        sox9_ovc_fav_score[g] = s
    if g in synonyms_genes_hpa:
        sox9_ovc_fav.append(synonyms_genes_hpa[g])
        sox9_ovc_fav_score[synonyms_genes_hpa[g]] = s

In [14]:
print(f"we have {len(sox9_ovc_fav)} hit")

we have 221 hit

Let's try to remove any duplicates

In [15]:
sox9_ovc_fav = set(sox9_ovc_fav)
print(f"After duplicates elimination, we have {len(sox9_ovc_fav)} hit")

After duplicates elimination, we have 215 hit

In [16]:
print(sox9_ovc_fav)

{'UBE2L3', 'CCDC34', 'HMGB3', 'CWC15', 'C18ORF21', 'JTB', 'LIPT2', 'C17ORF75', 'QRICH1', 'ZNF354A', 'NFX1', 'IGFLR1', 'DNAJA1', 'LRIF1', 'LANCL2', 'MRPL55', 'SELENOH', 'ABT1', 'JPT1', 'NLRC5', 'BOLA1', 'WLS', 'TSEN15', 'PBX2', 'LSM4', 'CALR', 'GPT2', 'HIBCH', 'C6ORF62', 'RNF5', 'SMU1', 'SEC22B', 'EEF1E1', 'PSMA2', 'C2ORF15', 'CAMTA1', 'BPHL', 'DCUN1D5', 'CENPL', 'ZNF391', 'CREB3', 'TIMM23', 'GUCD1', 'GNAS', 'ARHGEF39', 'TPGS2', 'LMO4', 'MRPS15', 'CHRAC1', 'RNASEH2A', 'MRPS11', 'MRS2', 'HSP90AB1', 'TAP1', 'EPCAM', 'PSMA6', 'ZNF43', 'SNRPD1', 'ODR4', 'ZNF641', 'CNOT4', 'MAN1A2', 'SELENOS', 'GALNT17', 'SKP2', 'ATP5IF1', 'MAGI3', 'PMVK', 'VPS29', 'PLAA', 'PACSIN3', 'METTL3', 'PRSS16', 'RALBP1', 'TPM3', 'SERPINB6', 'ZNF76', 'THOC1', 'LRTOMT', 'PARP9', 'GMNN', 'OSGEPL1', 'COA4', 'MRPL2', 'PTPN2', 'ORMDL1', 'ZNF165', 'LAMTOR5', 'TAF11', 'MAGOHB', 'CAAP1', 'TFAM', 'NDUFS5', 'AQP11', 'DGLUCY', 'GPR27', 'TMEM14B', 'ZCRB1', 'MCUR1', 'TAF13', 'GGT1', 'UBE2J1', 'GLRX5', 'TMEM258', 'PAICS', 'COMMD9', 'ORC6', 'KYAT3', 'STAT1', 'SYNCRIP', 'LYPD6', 'ELAVL1', 'HNRNPAB', 'UBE2T', 'USP14', 'UXS1', 'SRSF3', 'RAP2B', 'FKBPL', 'NUP35', 'NARS2', 'CACYBP', 'HNRNPC', 'ZSCAN16', 'TMEM53', 'BRIX1', 'RABIF', 'LRRC28', 'PPIL3', 'EIF5B', 'RBX1', 'HEXIM2', 'E2F3', 'TCAF1', 'SMIM10L1', 'PSMG2', 'DNAJC19', 'UBR2', 'LYAR', 'PRR3', 'ARTN', 'PAFAH1B2', 'ATP5MPL', 'ERGIC2', 'FMC1', 'UBD', 'ANAPC15', 'NUCB2', 'HINT2', 'SNRPE', 'GNL2', 'CASP2', 'ZNF101', 'POMZP3', 'MEA1', 'PSMB5', 'MRPL3', 'NOL7', 'SCNM1', 'TRIP13', 'TDP2', 'STMP1', 'HSBP1', 'EXOSC4', 'CMBL', 'HLA-A', 'GPR37', 'SSBP1', 'FEN1', 'CHD8', 'EIF4E3', 'PPIL1', 'ZNF714', 'HIRA', 'ISG20', 'SLC7A11', 'SEM1', 'TRA2B', 'FAM89B', 'PSMD12', 'SLC25A10', 'C1ORF35', 'ADRA1B', 'SUPT3H', 'EMC9', 'UTP4', 'DPM3', 'TOMM5', 'CENPQ', 'CCDC159', 'HOMEZ', 'TERF2IP', 'HDGF', 'MAP3K13', 'PLPP5', 'TRAPPC2', 'PFDN6', 'PCBP2', 'RPL39L', 'MPHOSPH6', 'UBAP2', 'IFRD1', 'ZNF561', 'ACOT13', 'LAMP3', 'TSTA3', 'PPM1G', 'CETN2', 'ZNF184', 'TIMM9', 'EIF3G', 'CIR1', 'MED19', 'FAM177A1', 'BCAS2'}

#### Unfavorable_OVC vs HPA

In [17]:
genes_hpa_unfav = list(ovc_unfav.Gene)
#original to synonyms reference
genes_synonyms_hpa = {}

#synonyms to original reference
synonyms_genes_hpa = {}

for gene,syns in zip(genes_hpa_unfav,ovc_unfav["Gene synonym"]):
    genes_synonyms_hpa[gene] = [syns]
    if type(syns) == float:
        continue
    else:
        for s in syns.split(", "):
            synonyms_genes_hpa[s.upper()] = gene

In [18]:
sox9_ovc_unfav = []
sox9_ovc_unfav_score = {}
for g,s in zip(sox9_targets_list,sox9_scores_list):
    if g in genes_synonyms_hpa:
        sox9_ovc_unfav.append(g)
        sox9_ovc_unfav_score[g] = s
    if g in synonyms_genes_hpa:
        sox9_ovc_unfav.append(synonyms_genes_hpa[g])
        sox9_ovc_unfav_score[synonyms_genes_hpa[g]] = s

In [19]:
print(f"we have {len(sox9_ovc_unfav)} hit")

we have 75 hit

In [20]:
sox9_ovc_unfav = set(sox9_ovc_unfav)
print(f"After duplicates elimination, we have {len(sox9_ovc_unfav)} hit")

After duplicates elimination, we have 73 hit

In [21]:
print(sox9_ovc_unfav)

{'PPL', 'NRROS', 'CAB39L', 'FBXL20', 'TOM1L2', 'PGAP3', 'NOTCH2', 'ANKRD13A', 'WNT9A', 'CLDN4', 'LOXL4', 'CERCAM', 'PIM3', 'RECQL', 'HDAC4', 'MYC', 'EMP1', 'MYO9B', 'SCAF8', 'LYVE1', 'JMY', 'DSE', 'TTC7A', 'PPP1R13L', 'FAM120B', 'TPCN2', 'TMEM38A', 'SRGAP1', 'WASF2', 'FCGBP', 'COG3', 'WTAP', 'RB1', 'SH3RF3', 'SLC25A30', 'SNX33', 'GALNT10', 'TYW1', 'SLC12A9', 'GRB7', 'WNK1', 'AP2A1', 'GPAT4', 'MTX3', 'PC', 'TRPV4', 'TBC1D22A', 'LPIN3', 'SPIDR', 'MYPOP', 'SLC9A1', 'TSC22D1', 'EBPL', 'JUNB', 'UNC5B', 'KCTD11', 'FANCD2', 'RPL7A', 'POLR1A', 'PJA2', 'MFAP4', 'PLXNA1', 'SOCS5', 'C6ORF120', 'AAK1', 'RIPK4', 'PPIP5K1', 'SLC39A13', 'SCNN1A', 'GAL3ST4', 'ANXA4', 'LMTK2', 'FAM98C'}

# Let's save the result

#### Sox9 targets that are favorable in ovarian cancer

In [22]:
sox9_ovc_fav_df = pd.DataFrame(data={"Genes":list(sox9_ovc_fav),"Scores":[sox9_ovc_fav_score[g] for g in sox9_ovc_fav]})
sox9_ovc_fav_df[:10]

      Genes  Scores
0    UBE2L3    26.4
1    CCDC34    12.1
2     HMGB3    11.8
3     CWC15    32.3
4  C18ORF21    26.0
5       JTB    33.1
6     LIPT2    10.2
7  C17ORF75    45.1
8    QRICH1    32.6
9   ZNF354A    13.9

In [23]:
sox9_ovc_fav_df.to_excel("./final_results/sox9_ovc_fav.xlsx", header=True, index=False)

#### Sox9 targets that are unfavorable in ovarian cancer

In [24]:
sox9_ovc_unfav_df = pd.DataFrame(data={"Genes":list(sox9_ovc_unfav),"Scores":[sox9_ovc_unfav_score[g] for g in sox9_ovc_unfav]})
sox9_ovc_unfav_df[:10]

      Genes  Scores
0       PPL    18.1
1     NRROS     8.7
2    CAB39L    46.2
3    FBXL20    13.1
4    TOM1L2    92.1
5     PGAP3    89.3
6    NOTCH2    19.8
7  ANKRD13A   134.9
8     WNT9A    15.2
9     CLDN4    29.2

In [25]:
sox9_ovc_unfav_df.to_excel("./final_results/sox9_ovc_unfav.xlsx", header=True, index=False)