In [1]:
import pandas as pd

# ChIP Atlas Genes targets of STAT3 (mm10)

The first data set is retrieved from ChIP Atlas. We went to "Target genes" function, in mouse genome mm10, searched in the +- 10k kb distance from the TSS of all genes to find gene targets of Stat3. 

Let's take a look at the dataset

In [2]:
stat3 = pd.read_csv("./input/Stat3.10.tsv", delimiter="\t")
print(f"There are {stat3.shape[0]} genes retrieved from ChIP-Atlas ")

There are 15918 genes retrieved from ChIP-Atlas

In [3]:
stat3[:10]

,Target_genes,Stat3|Average,SRX361677|Astrocytes,SRX2182965|AtT-20,SRX2463208|AtT-20,SRX2463209|AtT-20,SRX015582|CD4-Positive_T-Lymphocytes,SRX015583|CD4-Positive_T-Lymphocytes,SRX015584|CD4-Positive_T-Lymphocytes,SRX015585|CD4-Positive_T-Lymphocytes,...,SRX187264|Th17_Cells,SRX187265|Th17_Cells,SRX187266|Th17_Cells,SRX187267|Th17_Cells,SRX187268|Th17_Cells,SRX187269|Th17_Cells,SRX187270|Th17_Cells,SRX187271|Th17_Cells,SRX037909|Th1_Cells,STRING
0,Stat3,992.453488,665,3185,3212,3411,0,0,0,0,...,2022,2042,2178,0,2122,2196,1420,2102,1472,0
1,Tcstv3,916.732558,903,234,0,0,409,189,0,0,...,1653,2177,1335,842,2268,2311,1828,2317,922,0
2,Stat1,780.127907,396,3478,3357,3032,0,0,0,0,...,1676,1605,1985,0,2236,2247,1375,1949,1799,0
3,Txndc11,753.360465,182,1954,1892,1583,211,149,943,878,...,363,633,540,445,1147,1178,1280,1390,650,0
4,Sbno2,685.220930,0,2114,2094,1921,0,0,0,0,...,1692,1708,2010,274,2113,2125,1430,1860,1529,0
5,Cldn34d,624.197674,730,1480,1778,1528,198,163,280,263,...,842,823,948,411,1115,1093,708,960,789,0
6,Kpna1,584.709302,585,190,132,0,263,200,1091,702,...,527,572,942,481,451,654,924,848,603,0
7,Junb,572.406977,284,2804,2716,2603,0,0,0,0,...,1537,1576,1461,0,1621,1629,1111,1594,1007,0
8,Prdx2,571.558140,284,2804,2716,2603,0,0,0,0,...,1537,1576,1461,0,1621,1629,1111,1594,1007,0
9,Greb1,558.174419,935,0,0,0,176,223,0,0,...,1026,1137,721,1052,1152,1154,1305,1139,433,0

We only wanted the first and second columns (which is the score).

In [4]:
stat3.rename(columns={"Stat3|Average":"Score"}, inplace=True)

In [5]:
stat3[:][["Target_genes","Score"]].to_csv("./input/stat3_targets.csv", header=True, index=False)

In [6]:
stat3_targets = pd.read_csv("./input/stat3_targets.csv")
stat3_targets[:10]

  Target_genes       Score
0        Stat3  992.453488
1       Tcstv3  916.732558
2        Stat1  780.127907
3      Txndc11  753.360465
4        Sbno2  685.220930
5      Cldn34d  624.197674
6        Kpna1  584.709302
7         Junb  572.406977
8        Prdx2  571.558140
9        Greb1  558.174419

Let's put the gene names in upper case for easier search down the way

In [7]:
stat3_targets[:]["Target_genes"] = stat3_targets[:]["Target_genes"].apply(lambda x:x.upper())
stat3_targets[:10]

  Target_genes       Score
0        STAT3  992.453488
1       TCSTV3  916.732558
2        STAT1  780.127907
3      TXNDC11  753.360465
4        SBNO2  685.220930
5      CLDN34D  624.197674
6        KPNA1  584.709302
7         JUNB  572.406977
8        PRDX2  571.558140
9        GREB1  558.174419

# HPA Genes expressed in Leydig cells

Here, we want a list of genes that are expressed in human Leydig cells. We do did by query the Human Protein Atlas database with "normal_expression:Testis;Leydig cells;Medium,High".

This will give us a list of genes that are expressed in human Leydig cells with evidence from IHC at medium and high level of expression.

In [8]:
hpa_leydig = pd.read_csv("./input/normal_expression_Testis_Leydig.tsv",delimiter="\t", usecols=[0,1,2,3])
print(f"There are {hpa_leydig.shape[0]} genes expressed in Leydig cells from HPA")

There are 6802 genes expressed in Leydig cells from HPA

Make sure to put all the gene names in upper case.Let's take a look at the data set

In [9]:
hpa_leydig[:]["Gene"] = hpa_leydig[:]["Gene"].apply(lambda x:x.upper())
hpa_leydig[:10]

,Gene,Gene synonym,Ensembl,Gene description
0,AAAS,NaN,ENSG00000094914,Aladin WD repeat nucleoporin
1,AACS,"ACSF1, FLJ12389, SUR-5",ENSG00000081760,Acetoacetyl-CoA synthetase
2,AAED1,C9orf21,ENSG00000158122,AhpC/TSA antioxidant enzyme domain containing 1
3,AAGAB,"FLJ11506, p34",ENSG00000103591,Alpha and gamma adaptin binding protein
4,AAMDC,"C11orf67, CK067, FLJ21035, PTD015",ENSG00000087884,Adipogenesis associated Mth938 domain containing
5,AAMP,NaN,ENSG00000127837,Angio associated migratory cell protein
6,AARS,"AlaRS, CMT2N",ENSG00000090861,Alanyl-tRNA synthetase
7,AARS2,"AARSL, bA444E17.1, KIAA1270",ENSG00000124608,"Alanyl-tRNA synthetase 2, mitochondrial"
8,AASDH,"ACSF4, LYS2, NRPS998",ENSG00000157426,Aminoadipate-semialdehyde dehydrogenase
9,AASS,"LKRSDH, LORSDH",ENSG00000008311,Aminoadipate-semialdehyde synthase

Lucky for us, the data set from hpa also contain gene synonym. This will help us in the next step.

# Galaxy Erasin-treated Leydig cells (mouse)

### Let's read the annotated and preprocessed data of up and down regulated genes

In [10]:
downreg = pd.read_csv("./input/downregulated_genes_annotated.csv")
upreg = pd.read_csv("./input/upregulated_genes_annotated.csv")

In [11]:
print(f"There are {downreg.shape[0]} downregulated genes)")
print(f"There are {upreg.shape[0]} upregulated genes")

There are 521 downregulated genes)
There are 1829 upregulated genes

Make sure to put gene names in upper case and take a look at the dataset

In [12]:
upreg["genes_names"] = upreg["genes_names"].apply(lambda x: x.upper())
downreg["genes_names"] = downreg["genes_names"].apply(lambda x: x.upper())

In [13]:
upreg[:10]

          transcript_ids transcript_names            gene_ids genes_names
0   ENSMUST00000039926.9        Dusp8-201  ENSMUSG00000037887       DUSP8
1  ENSMUST00000026475.14        Ddit3-201  ENSMUSG00000025408       DDIT3
2   ENSMUST00000100857.9       Dusp16-201  ENSMUSG00000030203      DUSP16
3   ENSMUST00000146857.1      Gm11274-201  ENSMUSG00000085331     GM11274
4   ENSMUST00000080511.2         H1f5-201  ENSMUSG00000058773        H1F5
5   ENSMUST00000021413.8       Nfkbia-201  ENSMUSG00000021025      NFKBIA
6  ENSMUST00000024988.14           C3-201  ENSMUSG00000024164          C3
7  ENSMUST00000027012.13        Casp4-201  ENSMUSG00000033538       CASP4
8   ENSMUST00000105105.3         H3c4-201  ENSMUSG00000099583        H3C4
9   ENSMUST00000059619.2     Cdc42ep1-201  ENSMUSG00000049521    CDC42EP1

In [14]:
downreg[:10]

          transcript_ids transcript_names            gene_ids genes_names
0   ENSMUST00000053020.7      Neurl1b-201  ENSMUSG00000034413     NEURL1B
1   ENSMUST00000055688.9        Phf13-201  ENSMUSG00000047777       PHF13
2  ENSMUST00000018506.12        Kpna2-201  ENSMUSG00000018362       KPNA2
3   ENSMUST00000089011.5          Snn-201  ENSMUSG00000037972         SNN
4   ENSMUST00000053063.6       Hexim1-201  ENSMUSG00000048878      HEXIM1
5  ENSMUST00000023686.14      Tmem50b-201  ENSMUSG00000022964     TMEM50B
6   ENSMUST00000019333.9       Rnf145-201  ENSMUSG00000019189      RNF145
7   ENSMUST00000056406.6       Fam78a-201  ENSMUSG00000050592      FAM78A
8   ENSMUST00000131422.7         Dna2-203  ENSMUSG00000036875        DNA2
9   ENSMUST00000236905.1      Gm50321-201  ENSMUSG00000118383     GM50321

# Common genes

Our final goal is to find genes that are present in all 3 dataset meaning to find genes expressed in Leydig cells that can be STAT3 target and were affected by our treatment with Erasin.

One gene can have different names. In order to make sure that we don't miss any common genes just because they are synonyms in 3 data sets, we constructed a synonym reference, taking advantage of the gene synonym from HPA data set. With this, we first do 2 comparisons between Stat3 and HPA; Erasin and HPA. By doing this, gene name from Stat3 and Erasin will be compared to the original gene name in HPA and also to the synonym reference which can be traced back to the original gene name in the HPA dataset. This will result in a unified gene names for the final step.

Finally, the results from these two comparison will be compaired to obtain the final list of genes common in 3 data set.

We also try to include in the score obtain from the Stat3 data to evaluate the likelihood of a Stat3 target

#### Constructing the HPA synonym reference

In [15]:
genes_hpa = list(hpa_leydig.Gene)
#original to synonyms reference
genes_synonyms_hpa = {}

#synonyms to original reference
synonyms_genes_hpa = {}

for gene,syns in zip(genes_hpa,hpa_leydig["Gene synonym"]):
    genes_synonyms_hpa[gene] = [syns]
    if type(syns) == float:
        continue
    else:
        for s in syns.split(", "):
            synonyms_genes_hpa[s.upper()] = gene

#### Stat3 vs HPA

In [16]:
stat3_targets_list = list(stat3_targets.Target_genes)
stat3_scores_list = list(stat3_targets.Score)

In [17]:
stat3_ley = []
stat3_hpa_score = {}
for g,s in zip(stat3_targets_list,stat3_scores_list):
    if g in genes_synonyms_hpa:
        stat3_ley.append(g)
        stat3_hpa_score[g] = s
    if g in synonyms_genes_hpa:
        stat3_ley.append(synonyms_genes_hpa[g])
        stat3_hpa_score[synonyms_genes_hpa[g]] = s

In [18]:
print(f"we have {len(stat3_ley)} hit")

we have 6075 hit

Let's try to remove any duplicates

In [19]:
stat3_ley = set(stat3_ley)
print(f"After duplicates elimination, we have {len(stat3_ley)} hit")

After duplicates elimination, we have 5858 hit

#### Upregulated vs HPA

In [20]:
up_leydig = []
hpa_up_traceback = {}
for g in upreg["genes_names"]:
    if g in genes_synonyms_hpa:
        up_leydig.append(g)
    if g in synonyms_genes_hpa:
        up_leydig.append(synonyms_genes_hpa[g])
        hpa_up_traceback[synonyms_genes_hpa[g]] = g

In [21]:
print(f"we have {len(up_leydig)} hit")

we have 315 hit

In [22]:
up_leydig = set(up_leydig)
print(f"After duplicates elimination, we have {len(up_leydig)} hit")

After duplicates elimination, we have 287 hit

#### Upregulated vs HPA vs Stat3

In [23]:
up_stat3_leydig = []
up_stat3_leydig_score = []
for gene in up_leydig:
    if gene in stat3_ley:
        up_stat3_leydig.append(gene)
        up_stat3_leydig_score.append(stat3_hpa_score[gene])
#Transform the upregulated gene names back to its original.    
up_stat3_leydig = [g if g not in hpa_up_traceback else hpa_up_traceback[g] for g in up_stat3_leydig ]

In [24]:
print(f"Finally, we have {len(up_stat3_leydig)} common upregulated genes in 3 dataset")

Finally, we have 271 common upregulated genes in 3 dataset

#### Downregulated vs HPA

In [25]:
down_leydig = []
hpa_down_traceback = {}
for g in downreg["genes_names"]:
    if g in genes_synonyms_hpa:
        down_leydig.append(g)
    if g in synonyms_genes_hpa:
        down_leydig.append(synonyms_genes_hpa[g])
        hpa_down_traceback[synonyms_genes_hpa[g]] = g

In [26]:
print(f"we have {len(down_leydig)} hit")

we have 162 hit

In [27]:
down_leydig = set(down_leydig)
print(f"After duplicates elimination, we have {len(down_leydig)} hit")

After duplicates elimination, we have 157 hit

#### Downregulated vs HPA vs Stat3

In [28]:
down_stat3_leydig = []
down_stat3_leydig_score = []

for gene in down_leydig:
    if gene in stat3_ley:
        down_stat3_leydig.append(gene)
        down_stat3_leydig_score.append(stat3_hpa_score[gene])

#Transform the upregulated gene names back to its original.    
down_stat3_leydig = [g if g not in hpa_down_traceback else hpa_down_traceback[g] for g in down_stat3_leydig ]

In [29]:
print(f"Finally, we have {len(down_stat3_leydig)} common downregulated genes in 3 dataset")

Finally, we have 150 common downregulated genes in 3 dataset

# Let's save the result

In [30]:
hit = []
score = []
for i in range(upreg.shape[0]):
    gene = upreg.iloc[i]["genes_names"]
    if gene in up_stat3_leydig:
        idx = up_stat3_leydig.index(gene)
        score.append(up_stat3_leydig_score[idx])
        hit.append(1)
    else:
        score.append(-1)
        hit.append(0)
upreg["hit"] = hit
upreg["score"] = score
upreg[:10]

,transcript_ids,transcript_names,gene_ids,genes_names,hit,score
0,ENSMUST00000039926.9,Dusp8-201,ENSMUSG00000037887,DUSP8,0,-1.000000
1,ENSMUST00000026475.14,Ddit3-201,ENSMUSG00000025408,DDIT3,0,-1.000000
2,ENSMUST00000100857.9,Dusp16-201,ENSMUSG00000030203,DUSP16,0,-1.000000
3,ENSMUST00000146857.1,Gm11274-201,ENSMUSG00000085331,GM11274,0,-1.000000
4,ENSMUST00000080511.2,H1f5-201,ENSMUSG00000058773,H1F5,0,-1.000000
5,ENSMUST00000021413.8,Nfkbia-201,ENSMUSG00000021025,NFKBIA,0,-1.000000
6,ENSMUST00000024988.14,C3-201,ENSMUSG00000024164,C3,1,17.755814
7,ENSMUST00000027012.13,Casp4-201,ENSMUSG00000033538,CASP4,1,108.337209
8,ENSMUST00000105105.3,H3c4-201,ENSMUSG00000099583,H3C4,0,-1.000000
9,ENSMUST00000059619.2,Cdc42ep1-201,ENSMUSG00000049521,CDC42EP1,0,-1.000000

In [31]:
hit = []
score = []
for i in range(downreg.shape[0]):
    gene = downreg.iloc[i]["genes_names"]
    if gene in down_stat3_leydig:
        idx =down_stat3_leydig.index(gene)
        score.append(down_stat3_leydig_score[idx])
        hit.append(1)
    else:
        score.append(-1)
        hit.append(0)
downreg["hit"] = hit
downreg["score"] = score
downreg[:10]

,transcript_ids,transcript_names,gene_ids,genes_names,hit,score
0,ENSMUST00000053020.7,Neurl1b-201,ENSMUSG00000034413,NEURL1B,1,1.581395
1,ENSMUST00000055688.9,Phf13-201,ENSMUSG00000047777,PHF13,1,58.220930
2,ENSMUST00000018506.12,Kpna2-201,ENSMUSG00000018362,KPNA2,0,-1.000000
3,ENSMUST00000089011.5,Snn-201,ENSMUSG00000037972,SNN,1,26.348837
4,ENSMUST00000053063.6,Hexim1-201,ENSMUSG00000048878,HEXIM1,1,141.953488
5,ENSMUST00000023686.14,Tmem50b-201,ENSMUSG00000022964,TMEM50B,1,28.232558
6,ENSMUST00000019333.9,Rnf145-201,ENSMUSG00000019189,RNF145,0,-1.000000
7,ENSMUST00000056406.6,Fam78a-201,ENSMUSG00000050592,FAM78A,1,44.755814
8,ENSMUST00000131422.7,Dna2-203,ENSMUSG00000036875,DNA2,1,8.825581
9,ENSMUST00000236905.1,Gm50321-201,ENSMUSG00000118383,GM50321,0,-1.000000

In [32]:
upreg.to_excel("./final_results/upregulated_hits.xlsx", header=True, index=False)
downreg.to_excel("./final_results/downregulated_hits.xlsx", header=True, index=False)